<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>CrustCapture needs to record your screen to create recordings.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>CrustCapture can optionally record microphone audio with your screen recording.</string>
</dict>
</plist>
